<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title> 
        COMPONENTE - CARD
      </ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
<ion-card>
  <ion-img src="/assets/imagem/bruno.jpg"></ion-img>
  <ion-card-content>
    <ion-card-title>Bruno e Marrone</ion-card-title>
    <p>são jose do rio preto</p>
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-header>
    <ion-card-subtitle>Vagas de Emprego</ion-card-subtitle>
    <ion-card-title>Ionic 4</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    Precisamos de desenvolvedores na plataforma de ionic 4.
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-item href="#" class="activated">
    <ion-icon name="wifi" slot="start"></ion-icon>
    <ion-label>Wifi Ativo</ion-label>
  </ion-item>
</ion-card>

<ion-card>
    <ion-item href="#" >
      <ion-icon name="wine" slot="start"></ion-icon>
      <ion-label> Bebida</ion-label>
    </ion-item>
  </ion-card>

  <ion-card>
      <ion-item href="#" class="activated">
        <ion-icon name="warning" slot="start"></ion-icon>
        <ion-label> Atenção </ion-label>
        <ion-icon name="warning" slot="end"></ion-icon>
      </ion-item>
    </ion-card>

    <ion-card>
        <ion-item >
          <ion-icon name="walk" slot="start"></ion-icon>
          <ion-label> Pessoa</ion-label>
        </ion-item>
      </ion-card>



      <ion-card color="danger">
          <ion-card-header>
            <ion-card-subtitle>Vagas de Emprego</ion-card-subtitle>
            <ion-card-title>Ionic 4</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Precisamos de desenvolvedores na plataforma de ionic 4.
          </ion-card-content>
        </ion-card>

        <ion-card color="dark">
            <ion-card-header>
              <ion-card-subtitle>Vagas de Emprego</ion-card-subtitle>
              <ion-card-title>Ionic 4</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              Precisamos de desenvolvedores na plataforma de ionic 4.
            </ion-card-content>
          </ion-card>

          <ion-card color="danger" MODE="ios">
              <ion-card-header>
                <ion-card-subtitle>Cartão modelo IOS</ion-card-subtitle>
                <ion-card-title>Ionic 4</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                Precisamos de desenvolvedores na plataforma de ionic 4.
              </ion-card-content>
            </ion-card>

            <ion-card color="success" MODE="md">
                <ion-card-header>
                  <ion-card-subtitle>Cartão modelo IOS</ion-card-subtitle>
                  <ion-card-title>Ionic 4</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                  Precisamos de desenvolvedores na plataforma de ionic 4.
                </ion-card-content>
              </ion-card>

</ion-content>
