<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title> 
      COMPONENTE - BADGES
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-badge color="primary">25</ion-badge>
<ion-badge color="secondary">25</ion-badge>
<ion-badge color="dark">25</ion-badge>
<ion-badge color="danger">25</ion-badge>
<br>
<br>
<br>
  <ion-list  >
  <ion-item expand="full" fill="outline"  >
    <ion-icon name="man" slot="start"></ion-icon>
     Seguidores
      <ion-badge color="danger" slot="end">758k</ion-badge>
  </ion-item>
</ion-list>


<ion-list>
<ion-item>
    <ion-icon name="eye" slot="start"></ion-icon>
     Visualização
      <ion-badge color="secondary" slot="end">32</ion-badge>
  </ion-item>
</ion-list>

<ion-list>
    <ion-item href="/home">
        <ion-icon name="send" slot="start"></ion-icon>
         Mensagem
         
          <ion-badge color="dark" slot="end">10</ion-badge>
      </ion-item>
    </ion-list>

<!--
  <ion-button expand="full" color="outline">
    <ion-item>
        <ion-icon name="download" slot="start">Download</ion-icon>
        download
         <ion-badge color="dark"  slot="end">10</ion-badge>
    </ion-item>
  </ion-button>  
-->
</ion-content>
