<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title> 
        COMPONENTE - ALERT
      </ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
  <ion-button expand="full"(click)="AbrirAlertSimples()">Componente Alert</ion-button><br>
  <ion-button expand="full"(click)="AbrirAlertComMultiplosBotoes()">multiplos botoes</ion-button><br>
  <ion-button expand="full"(click)="AbrirAlertConfirmacao()">Confirmação</ion-button><br>
  <ion-button expand="full"(click)="AbrirPrompt()">Abrir Prompt</ion-button><br>
</ion-content>

