
  <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>
          COMPONENTES
        </ion-title>
      </ion-toolbar> 
    </ion-header>
<ion-content>
  <br>
  <br>
  <ion-button expand="full"(click)="abrirPagina('componente-action-sheet')">Action Sheet</ion-button><br>
  <ion-button expand="full"(click)="abrirPagina('componente-alert')">Componente Alert</ion-button><br>
  <ion-button expand="full"(click)="abrirPagina('componente-badges')">Componente Badges</ion-button><br>
  <ion-button expand="full"(click)="abrirPagina('componente-botao')">Componente Botão</ion-button><br>
  <ion-button expand="full"(click)="abrirPagina('componente-checkbox')">Componente check box</ion-button><br>
  <ion-button expand="full"(click)="abrirPagina('componente-radio')">Componente radio </ion-button><br>
  <ion-button expand="full"(click)="abrirPagina('componente-datetime')">Componente date time </ion-button><br>
  <ion-button expand="full"(click)="abrirPagina('componente-fab')">Componente fab </ion-button><br>
  <ion-button expand="full"(click)="abrirPagina('componente-input')">Componente Input </ion-button><br>
  <ion-button expand="full"(click)="abrirPagina('componente-list')">Componente List </ion-button><br>
  <ion-button expand="full"(click)="abrirPagina('componente-loading')">Componente Loading </ion-button><br>
  <ion-button expand="full"(click)="abrirPagina('componente-range')">Componente Range </ion-button><br>
  <ion-button expand="full"(click)="abrirPagina('componente-select')">Componente Select </ion-button><br>
  <ion-button expand="full"(click)="abrirPagina('componente-slide')">Componente Slide </ion-button><br>


  
</ion-content>
