<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title> 
        COMPONENTE - SLIDE
      </ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
<ion-slides pager="true">
  <ion-slide>
   <ion-grid>
     <ion-row>
       <ion-col>
         <h1>Curso de ionic 4</h1>
       </ion-col>
     </ion-row>
     <ion-row>
        <ion-col>
          <ion-img src="https://cdn.pensador.com/img/imagens/bo/md/bom_dia_grupo_13.jpg"></ion-img>
        </ion-col>
      </ion-row>
   </ion-grid>
  </ion-slide>

  <ion-slide>
    <ion-img src="https://i2.wp.com/i.pinimg.com/564x/6b/00/b5/6b00b5463b3ae22f8247d0674e291ebb.jpg?resize=564%2C564&ssl=1"></ion-img>
  </ion-slide>

<ion-slide>

</ion-slide>
<ion-img src="https://www.google.com/url?sa=i&source=images&cd=&ved=2ahUKEwiFr-eox8zjAhWOG7kGHXmhBkUQjRx6BAgBEAU&url=https%3A%2F%2Fwww.42frases.com.br%2Ffrases-de-bom-dia-com-carinho%2F&psig=AOvVaw33D5WYUk1DEbtReeXGIcBT&ust=1564022295531433"></ion-img>
<ion-slide>

</ion-slide>
<ion-img src="https://www.google.com/url?sa=i&source=images&cd=&cad=rja&uact=8&ved=2ahUKEwiZlpO6x8zjAhU6ILkGHWm4BQEQjRx6BAgBEAU&url=%2Furl%3Fsa%3Di%26source%3Dimages%26cd%3D%26ved%3D%26url%3Dhttps%253A%252F%252Fwww.emotioncard.com.br%252Fimagens-de-bom-dia%252F%26psig%3DAOvVaw33D5WYUk1DEbtReeXGIcBT%26ust%3D1564022295531433&psig=AOvVaw33D5WYUk1DEbtReeXGIcBT&ust=1564022295531433"></ion-img>
<ion-slide>
  <ion-button expend="block" (ckick)="comecar()">Começar o curso</ion-button>
</ion-slide>

</ion-slides>
</ion-content>
