<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-chip color="danger">
    <ion-title>
      Home
    </ion-title>
  </ion-chip>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-toolbar>
    <ion-header>
      <br>
      <br>
      <br>
      <ion-button expand="full"(click)="abrirPagina('botao1')">botão 1</ion-button><br><br>
      <ion-button expand="full" (click)="abrirPagina('botao2')">HEADERS E FOOTER</ion-button><br><br>
      <ion-button expand="full" (click)="abrirPagina('botao3')">TABS</ion-button><br><br>
      <ion-button expand="full" (click)="abrirPagina('botao4')">HEADERS E FOOTER</ion-button><br><br>
      <ion-button expand="full" (click)="abrirPagina('layoutgrid')">Layout Grid</ion-button><br><br>
      <ion-button expand="full" (click)="abrirPagina('layoutcss')">Layout Css utilits</ion-button><br><br>


    </ion-header>
  </ion-toolbar>
</ion-content>

