<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>
        Layout- Css Utilits
       </ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
<ion-grid>
  <ion-row>
   
      <ion-col>
          <div text-start>
              <h3>text-start4</h3>
            Neste curso voce ira aprender cada componete que o ionic oferece
            fazendo esse treinamento completo voce podera ter renda extra com o desenvolvimento com o aplicativos moveis e web.
          </div>
        </ion-col>
           
    <ion-col>
      <div text-end>
          <h3>text-end</h3>
        Neste curso voce ira aprender cada componete que o ionic oferece
        fazendo esse treinamento completo voce podera ter renda extra com o desenvolvimento com o aplicativos moveis e web.
      </div>
    </ion-col>
    <ion-row>
    </ion-row>

       <ion-col>
         <div text-justify>
            <h3>text-justify</h3>
            Neste curso voce ira aprender cada componete que o ionic oferece
            fazendo esse treinamento completo voce podera ter renda extra com o desenvolvimento com o aplicativos moveis e web.
      </div>
       </ion-col>

     
       <ion-col>
          <div text-nowRap>
             <h3> text-nowRap</h3>
             Neste curso voce ira aprender cada componete que o ionic oferece
             fazendo esse treinamento completo voce podera ter renda extra com o desenvolvimento com o aplicativos moveis e web.
       </div>
        </ion-col>


        <ion-row>
          </ion-row>
        <ion-col>
            <div text-Rap>
               <h3>text-Rap</h3>
               Neste curso voce ira aprender cada componete que o ionic oferece
               fazendo esse treinamento completo voce podera ter renda extra com o desenvolvimento com o aplicativos moveis e web.
         </div>
          </ion-col>

          <ion-col>
              <div text-center>
                 <h3>text-center</h3>
                 Neste curso voce ira aprender cada componete que o ionic oferece
                 fazendo esse treinamento completo voce podera ter renda extra com o desenvolvimento com o aplicativos moveis e web.
           </div>
            </ion-col>



            <ion-row>
                <ion-col>
                    <div text-left>
                        <h3>text-left</h3>
                      Neste curso voce ira aprender cada componete que o ionic oferece
                      fazendo esse treinamento completo voce podera ter renda extra com o desenvolvimento com o aplicativos moveis e web.
                    </div>
                  </ion-col>
                     
              <ion-col>
                <div text-right>
                    <h3>text-right</h3>
                  Neste curso voce ira aprender cada componete que o ionic oferece
                  fazendo esse treinamento completo voce podera ter renda extra com o desenvolvimento com o aplicativos moveis e web.
                </div>
              </ion-col>
              </ion-row>
      
          

  </ion-row>
</ion-grid>



<ion-grid>
    <ion-row>
     
        <ion-col>
            <div text-uppercase>
                <h3>text-upp ercase</h3>
              Neste curso voce ira aprender cada componete que o ionic oferece
              fazendo esse treinamento completo voce podera ter renda extra com o desenvolvimento com o aplicativos moveis e web.
            </div>
          </ion-col>
             
      <ion-col>
        <div text-lowercase>
            <h3>text-lowercase</h3>
          Neste curso voce ira aprender cada componete que o ionic oferece
          fazendo esse treinamento completo voce podera ter renda extra com o desenvolvimento com o aplicativos moveis e web.
        </div>
      </ion-col>
  

      <ion-col>
          <div text-capitalize>
              <h3>text-capitalize</h3>
            Neste curso voce ira aprender cada componete que o ionic oferece
            fazendo esse treinamento completo voce podera ter renda extra com o desenvolvimento com o aplicativos moveis e web.
          </div>
        </ion-col>
    </ion-row>
  </ion-grid>

  <div text-sm-center text-md-left text-lg-end text-xl-uppercase>
      <h3>trabalhando com responsividade</h3>  
  </div>

<h3>Trabalahndo com Padding</h3>
  <ion-grid>
    <ion-row>
      <ion-col padding>
       <div>
         Padding
       </div>
      </ion-col>
    </ion-row>

      <ion-row>
        <ion-col padding-top>
         <div>
           Padding-TOP
         </div>
        </ion-col>
      </ion-row>

      <ion-row>
          <ion-col padding-start>
           <div>
             Padding-START
           </div>
          </ion-col>
        </ion-row>

        <ion-row>
            <ion-col padding-end>
             <div>
               Padding-END
             </div>
            </ion-col>
          </ion-row>

          <ion-row>
              <ion-col padding-bottom>
               <div>
                 Padding-BOTTOM
               </div>
              </ion-col>
            </ion-row>

            <ion-row>
                <ion-col padding-vertical>
                 <div>
                   Padding-VERTICAL
                 </div>
                </ion-col>
              </ion-row>

           
                  <ion-col padding-horizontal>
                   <div>
                     Padding-HORIZONTAL
                   </div>
                  </ion-col>
               

                <ion-row>
                    <ion-col no-padding>
                     <div>
                       No-Padding
                     </div>
                    </ion-col>
                  </ion-row>
    </ion-grid>
    <img src="assets/imagem/ionic.PNG"/>

</ion-content>
